---
import Title from "@components/global/Title.astro";
---

<section>
	<div class="mx-auto max-w-7xl px-8 py-12 md:px-12 lg:px-32 lg:py-32">
		<div>
			<Title title="Koşullar" subtitle="Son güncelleme: 1 Eylül 2025" class="pb-10 pt-20 uppercase" />
		</div>
		<div class="prose-styles mt-12 lg:mt-24">
			<h2 id="description-tüm-kurallar-ve-şartlar">
				Vakıf web sitemizi ve hizmetlerimizi kullanırken kabul ettiğiniz temel koşullar.
			</h2>

			<p>
				Kardiyovasküler Araştırmalar Vakfı (KAV) olarak, kalp ve damar sağlığını geliştirmeye yönelik çalışmalarımıza gösterdiğiniz ilgi için teşekkür ederiz.
				Sitemizde yer alan bilgiler, projeler ve dijital içerikler siz değerli ziyaretçilerimizin erişimine sunulmuştur.
			</p>

			<p>
				Bu belgede geçen "Vakıf", "biz", "bizim" veya "tarafımız" ifadeleri, Kardiyovasküler Araştırmalar Vakfı’nı temsil etmektedir. 
				Vakfımız, kardiyovasküler sağlık alanında araştırmalar, eğitim faaliyetleri ve toplumsal faydaya yönelik projeler yürütmektedir.
			</p>

			<p>
				"Web sitesi" veya "hizmetler" ile, <a href="https://kav.org.tr">www.kav.org.tr</a> adresinde yayınlanan tüm sayfalar, etkinlik duyuruları, 
				bilimsel içerikler ve vakıf tarafından sağlanan çevrimiçi platformlar kastedilmektedir.
			</p>

			<p>
				"Ziyaretçi", "kullanıcı" veya "siz" ifadeleri, vakıf web sitesine erişen ve hizmetlerden yararlanan kişileri ya da kurumları ifade eder. 
				Web sitemiz yalnızca bilgilendirme ve eğitim amaçlıdır; içerikler tıbbi tavsiye niteliği taşımamaktadır. 
				Kendi sağlığınızla ilgili kararları mutlaka hekim tavsiyesi doğrultusunda alınız.
			</p>

			<p>
				Vakıf, web sitesinde sunulan içerikleri ve kullanım koşullarını gerektiğinde güncelleme hakkını saklı tutar. 
				Güncellemeleri takip etmek kullanıcıların sorumluluğundadır.
			</p>

			<p>
				Herhangi bir sorunuz olursa bizimle <a href="mailto:info@kav.org.tr">info@kav.org.tr</a> adresi üzerinden iletişime geçebilirsiniz.
			</p>
		</div>
	</div>
</section>